@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
img {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 60px;
}
body {
  color: #292929;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.nav-menu {
  background-color: #fff; /* メニューの背景色 */
  color: #292929; /* メニューテキストの色 */
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.menu-list {
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: center; /* メニューアイテムを中央揃えに */
  list-style: none;
  transition: 0.3s;
}
.menu-item {
  border-left: 1px dashed #aa7e19; /* メニューアイテムの左ボーダー */
  position: relative;
}
.menu-item:first-child {
  border-left: none; /* 最初のメニューアイテムのボーダー */
}
/* メニューアイテムのホバースタイル */
.menu-item:hover .drop-menu-list {
  visibility: visible;
  opacity: 1;
  transition: 0.5s; /* 下層メニューを表示 */
}
.menu-item a {
  align-items: center;
  color: #292929; /* メニューアイテム内のリンクテキストの色 */
  display: flex;
  height: 50px;
  justify-content: center; /* リンクの下線を非表示 */
  max-width: 183px;
  min-width: 145px;
}
.drop-menu-item a {
  justify-content: left;
  padding-left: 5px;
}
.menu-item a:hover, .drop-menu-item a:hover {
  color: #F26D3D;
  transition: 0.5s;
}
/* ドロップダウンメニュー */
.drop-menu {
  position: relative;
}
.drop-menu-list {
  background-color: rgba(255, 255, 255, 0.97); /* ドロップダウンメニューの背景色 */
  left: 0;
  position: absolute;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  /* 下層メニューを非表示 */
  z-index: 1;
  list-style: none;
  border-bottom-right-radius: 30px;
}
body header {
  background-color: rgba(255, 255, 255, 1.00);
  width: 100%;
  height: 120px;
  padding-top: 10px;
}
header h1 {
  display: block;
  max-width: 180px;
  margin: auto;
}
h1 a img {
  width: 100%;
  height: auto;
}
.catchcopy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}
section {
  text-align: center;
  padding-bottom: 90px;
  padding-top: 50px;
}
.main-img {
  width: 100%;
  max-width: 1100px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  position: relative;
  z-index: -3;
	aspect-ratio:110 / 45;
}
.specialh2   {
  padding-top: 60px;
}
figure img {
  width: 100%;
  height: auto;
}
#school .boxarea .box figure {
  width: 50%;
  margin: 30px auto;
}
#about-course .inner .boxarea .box:last-child {
  margin-bottom: 20px;
}
h2 {
  font-size: 24px;
  text-align: center;
  position: relative;
  padding: 15px;
  font-weight: normal;
  margin-bottom: 50px;
}
h2:before {
  position: absolute;
  bottom: 5px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background-color: #AA7E19;
}
.inner {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#school .inner .boxarea, .teacher_area, #achievement .boxarea {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body nav {
  width: 100%;
  height: 60px;
  z-index: 2;
}
#top .main_slide {
  width: 100%;
  height: auto;
  z-index: -100;
	position: absolute;
}
.back {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 90px;
  background-image: url(../img/marble.jpg);
  background-size: cover;
}
#about-course .inner .boxarea {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
#about-course .inner .boxarea .box {
  width: 400px;
  margin-bottom: 50px;
}
/* ---------------------------button----------------------------------- */
.button-more, .button-recruit {
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #aa7e19;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  touch-action: manipulation;
  z-index: 1;
  margin-top: 30px;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
  margin-left: auto;
  margin-right: auto;
}
.button-more:after {
  content: "";
  background-color: #A7473E;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  z-index: -1;
}
.button-more:hover:after {
  top: 0px;
  left: 0px;
}
.button-mail {
  font-size: 16px;
  color: #292929;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #292929;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  touch-action: manipulation;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
  margin-left: auto;
  margin-right: auto;
}
.button-mail:after {
  content: "";
  background-color: #F2E6D8;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  z-index: -10;
}
.button-mail:hover:after {
  top: 0px;
  left: 0px;
}
#mail_borer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 70%;
  z-index: -1;
}
.mailer {
  text-align: center;
}
.button-recruit:after {
  content: "";
  background-color: #454545;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  z-index: -1;
}
.button-recruit:hover:after {
  top: 0px;
  left: 0px;
}
/*---------------------------------------------------*/
.banner {
  position: fixed;
  right: 0;
  bottom: 30px;
  width: 70px;
}
.banner img, .sp-banner img, .tablet-banner img {
  opacity: 0.8;
  transition: 0.5s;
}
.banner img:hover, .sp-banner img:hover, .tablet-banner img:hover {
  opacity: 1;
}
#fee .inner .table-fee, .table-eiken {
  background-color: rgba(255, 255, 255, 1.00);
  max-width: 1000px;
  width: 80%;
  margin: 30px auto;
  border: none;
  border-collapse: separate;
  font-size: 18px;
}
.inner .table-fee th, .table-eiken th {
  background-color: #F2E6D8;
  padding: 10px;
  width: 10%;
}
#fee .inner .eiken {
  text-align: left;
  width: 80%;
  margin: 20px auto;
}
#fee .inner .sp-table, em#spanime {
  display: none;
}
.square {
  position: relative;
  padding: 30px;
  color: #353535;
  background-color: #F2E6D8;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  z-index: -2;
  width: 400px;
  margin: 0 auto;
}
.square:before {
  position: absolute;
  inset: -10px 10px 10px -10px;
  border: 1px solid #292929;
  content: '';
}
.mail {
  padding-left: 25px;
  font-size: 22px;
  margin: 20px 0;
  z-index: 1;
}
.lookat {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
table span, #sub-about .text p span, em, h3 span,#box3 span,#contact span,#recruit span {
  white-space: nowrap;
}

/*ふきだし*/
.lookat, #about-school em {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  margin-bottom: 5px;
}
.lookat::before, #about-school em::before {
  content: "";
  width: 30px;
  height: 2px;
  transform: rotate(60deg);
  box-sizing: border-box;
  background-color: #292929;
}
.lookat::after, #about-school em::after {
  content: "";
  width: 30px;
  height: 2px;
  transform: rotate(-60deg);
  box-sizing: border-box;
  background-color: #292929;
}
#top .recruit {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
body footer {
  display: flex;
  justify-content: space-between;
  background-color: #8C2920;
  color: #fff;
  padding: 30px 80px;
}
.experience-textbox {
  width: 70%;
  margin: 0 auto;
}
.experience-textbox p {
  text-align: left;
}
.footer-logo {
  width: 180px;
}
.text .copylight {
  font-size: 15px;
}
li img {
  width: 100%;
  height: auto;
}
#course h3 {
  position: relative;
  padding: 0.25em 1em;
  border: solid 1px #aa7419;
  border-radius: 3px 0 3px 0;
  font-size: 20px;
  margin: 50px auto;
  font-weight: bolder;
  margin-top: 40px;
  width: 200px;
  text-align: center;
  display: block;
}
#course h3:before, #course h3:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 1px #aa7e19;
  border-radius: 50%;
}
#course h3:after {
  top: -12px;
  left: -12px;
}
#course h3:before {
  bottom: -12px;
  right: -12px;
}
.box-area:first-of-type #course h3 {
  margin-top: 60px;
}
#course .box .text {
  width: 50%;
}
h4 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 20px;
}
h4:before, h4:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 25px;
  height: 1px;
  background-color: #8C2920;
}
h4:before {
  left: 0;
}
h4:after {
  right: 0;
}
#course .box {
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
}
#course .text p {
  margin-bottom: 50px;
  text-align: left;
}
#course li {
  list-style-type: none;
}
hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
hr {
  height: 20px;
  background-image: repeating-linear-gradient(45deg, #fff 0, #F26D3D 1px, transparent 0, transparent 50%);
  background-size: 20px 20px;
  color: #F26D3D;
  width: 600px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
.reverse-box {
  flex-direction: row-reverse;
}
.others {
  margin: 50px auto;
  width: 70%;
}
footer .text ,footer .footer-text{
  padding-top: 30px;
}
#course .text li {
  padding-left: 30px;
  background-image: url(../img/daiya.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 15px 15px;
}
.boxarea .text .yajirushi {
  width: 45px;
  margin: 20px auto;
}
#about-school em {
  font-size: 20px;
  font-style: normal;
}
#about-school .inner .boxarea {
  display: flex;
  justify-content: space-around;
}
.inner .boxarea .about-top {
  width: 40%;
}
#about-school .inner .boxarea .text {
  width: 40%;
}
/*ふきだし*/
#about-school em::before {
  background-color: #aa7e19;
}
#about-school em::after {
  background-color: #aa7e19;
}
#about-school .about-text {
  text-align: center;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.inner .about-text div {
  margin: 50px;
  width: 40%;
}
.about-text p span {
  white-space: nowrap;
}
.teacher_area figure {
  width: 35%;
}
.teacher_text {
  text-align: left;
  width: 100%;
  margin-top: 30px;
}
.teacher_area .text {
  width: 50%;
  margin-bottom: 90px;
  padding: 10px;
}
.achievement-box {
  border-radius: 50px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 1.00);
  margin-bottom: 50px;
  text-shadow: 0px 0px;
}
.achievement-text {
  text-align: left;
  font-size: 16px;
  color: #292929;
}
#box1, #box2 {
  width: 40%;
  -webkit-box-shadow: 10px 15px #DECAB9;
  box-shadow: 10px 15px #DECAB9;
}
#box3 {
  width: 80%;
  margin: 0 auto;
  -webkit-box-shadow: 10px 15px #DECAB9;
  box-shadow: 10px 15px #DECAB9;
}
.achievement-box h3 span, .teacher_area span, .others span {
  /*white-space: nowrap;
	background: linear-gradient(transparent 60%, rgba(222,202,185,0.70) 60%);
	font-size: 20px;
	margin-bottom: 20px;*/
}
#box3 h3 {
  margin-bottom: 20px;
}
#box3 ul li {
  list-style-type: none;
}
.center-class {
  margin: 20px auto 50px;
  width: 60%;
}
.button-recruit {
  margin-bottom: 50px;
}
.lookat p {
  text-align: center;
}
.text .teacher_text p {
  margin-bottom: 1.5em;
}
section:first-of-type {
  padding-top: 10px;
}
section:last-of-type {
  margin-bottom: 0px;
}
a {
  text-decoration: none;
}
#course .box-area {
  width: 100%;
  max-width: 1100px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}
#course .back {
  padding-top: 30px;
  padding-bottom: 30px;
}
#sp-menu-button {
  width: 70px;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.77);
  display: none;
  border-bottom-left-radius: 20px;
}
#sp-menu-button span {
  width: 40px;
  height: 3px;
  border: 1px solid #8C2920;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: 0.5s;
}
#sp-menu-button span:nth-child(2) {
  top: 25px;
}
#sp-menu-button span:nth-child(3) {
  top: 35px;
}
.sp-banner, .sp-top-slide, .sp-catchcopy {
  display: none;
}
.mail-icon {
  width: 50px;
  display: flex;
  align-items: center;
}
.mail-flex {
  display: flex;
}
#top #fee .mensestu {
  font-size: 16px;
  margin-left: auto;
  margin-bottom: 30px;
}
nav.scroll {
  position: fixed;
  top: 0px;
  transition: 0.5s;
  height: 50px;
  box-shadow: 0px 3px 5px rgba(187, 187, 187, 1.00);
}
.tablet-banner {
  position: fixed;
  right: 8px;
  bottom: 10px;
  width: 150px;
  display: none;
}
#recruit .inner figure {
  width: 50%;
  margin: 50px auto;
}
#recruit .inner .textbox {
  background-color: rgba(255, 255, 255, 0.50);
  width: 60%;
  margin: 0px auto 50px;
  padding: 30px;
}
#recruit {
  margin-top: 50px;
}
.experience-textbox {
  margin-bottom: 50px;
}
#course .box figure {
  width: 40%;
  margin-bottom: 50px;
}
#course .box .text {
  text-align: left;
}
.eventall .box {
  display: flex;
  width: 85%;
  margin: 50px auto;
  justify-content: space-evenly;
}
.eventall .box figure {
  width: 200px;
}
.eventall .inner hr {
  width: 75.5%;
}
.eventall .text {
  text-align: justify;
  width: 70%;
  margin-left: 40px;
  font-size: 16px;
  align-items: center;
}
.eventall #event-sec2 img {
  width: 100%;
  height: 100%;
}
.eventall #event-sec2 a {
  margin-right: 15px;
  margin-left: 15px;
}
.eventall #event-sec2 {
  padding-bottom: 100px;
  width: 100%;
  margin: 0 auto;
}
.eventall .gallery-box {
  justify-content: space-between;
  width: 80%;
  display: flex;
  height: auto;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.eventall #event-sec1 {
  width: 100%;
}
.inview {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
.inview.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.anime1 {
  transform-origin: center bottom;
  animation: yurayura 1s linear infinite;
}
.anime2 {
  transform-origin: center bottom;
  animation: yurayura2 0.5s linear infinite;
}
@keyframes yurayura {
  0%, 100% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
}
@keyframes yurayura2 {
  0%, 100% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
}
.marker {
  background: linear-gradient(transparent 50%, rgba(255, 220, 123) 50%);
  display: inline;
  /* 背景の繰り返しを停止 */
  background-repeat: no-repeat;
  /* マーカーの横方向を0にして縮める */
  background-size: 0% 100%;
  /* マーカーが引かれる速度を指定 */
  transition: background-size 1.5s;
  font-size: 22px;
}
/* マーカーが引かれる際に付与するクラス */
.marker.on {
  /* 横方向を100%にして、マーカーを引く */
  background-size: 100% 100%;
}
.backing {
  position: fixed;
  width: 100px;
  left: 0px;
  z-index: -100;
}
.backing img {
  position: absolute;
}
#experience {
  background-image: url(../img/haikei-eng3.png);
  background-repeat: no-repeat;
  background-position: -200px 0%;
}
#experience .inner .map {
  width: 60%;
  margin: 30px auto;
}
.fukidashi {
  position: relative;
  width: fit-content;
  padding: 5px 16px;
  margin-bottom: 30px;
}
.fukidashi::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  border: 2px solid #6E6E6E;
  border-top: none;
  border-bottom-right-radius: 50px; /* 左下の角丸 */
  border-bottom-left-radius: 50px; /* 右下の角丸 */
  translate: -50%;
}
.fukidashi::after {
  content: "";
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  width: 15px;
  height: 2px;
  box-sizing: border-box;
  background-color: #333333;
  box-shadow: 0 2px 0 #ffffff, 0 -2px 0 #ffffff;
  rotate: -50deg;
  translate: -50%;
}
#box1 h3, #box2 h3 {
  margin-bottom: 30px;
}
#about-school .about-text span {
  white-space: nowrap;
}
.main-img .catchcopy #catchwelcome {
  position: absolute;
  top: -50px;
  z-index: -1;
  opacity: 0.8;
}
.main-img .catchcopy .pc-square {
  width: 300px;
  height: 300px;
  z-index: -2;
  background-color: rgba(255, 255, 255, 0.43);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#achievement .back {
  padding-bottom: 100px;
}
@media (max-width:900px) {
  #sp-menu-button {
    display: block;
    z-index: 5;
  }
  section {
    padding-bottom: 60px;
    padding-top: 25px;
  }
  #experience {
    background-size: 50% auto;
    z-index: -1;
  }
  .fukidashi {
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-menu {
    position: fixed;
    top: 0px;
    height: 60vh;
    justify-content: center;
    left: 100%;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.95);
    visibility: hidden;
  }
  .menu-list {
    flex-direction: column; /* メニューアイテムを中央揃えに */
    overflow-y: auto;
    overflow-x: hidden;
  }
  .menu-item {
    border-left: 0px solid #545454; /* メニューアイテムの左ボーダー */
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .menu-item:first-child {
    border-left: none; /* 最初のメニューアイテムのボーダー */
  }
  /* メニューアイテムのホバースタイル */
  .menu-item:hover .drop-menu-list {
    visibility: hidden;
    opacity: 0;
  }
  .drop-menu-list {
    display: none;
  }
  .menu-item a {
    align-items: center;
    color: #292929; /* メニューアイテム内のリンクテキストの色 */
    width: 100%;
    display: flex;
    padding: 10px 100%;
  }
  /*------------------------menu-open----------------------------------*/
  .menu-open .nav-menu {
    left: 0;
    visibility: visible;
  }
  .menu-open #sp-menu-button span:nth-child(1) {
    transform: rotate(315deg);
    top: 25px
  }
  .menu-open #sp-menu-button span:nth-child(2) {
    width: 0px;
    border: none;
  }
  .menu-open #sp-menu-button span:nth-child(3) {
    transform: rotate(-315deg);
    top: 25px;
  }
  /*------------------------menu-open----------------------------------*/
  nav.scroll {
    height: auto;
    padding-top: 50px;
  }
  .banner {
    display: none;
  }
  .sp-banner {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
    width: auto;
    z-index: 100;
  }
  #fee .inner .table-fee, .table-eiken {
    font-size: 15px;
  }
  .tablet-banner {
    display: block;
  }
  #recruit .inner .textbox, .teacher_area .text, #recruit .inner figure, #about-school .inner .boxarea .text {
    width: 80%;
  }
  .inner .boxarea .about-top {
    width: 60%;
  }
  #course .box figure ,#box1,#box2,#box3{
    width: 70%;
  }
  .teacher_area, #about-school .inner .boxarea, #achievement .boxarea, #course .box {
    flex-direction: column;
    align-items: center;
  }
  .teacher_area figure {
    width: 50%;
  }
  .inner .about-text div {
    margin: 30px;
    width: 90%;
  }
  .about-top {
    margin-bottom: 30px;
  }
  .eventall .text {
    font-size: 15px;
  }
  .eventall .box {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
    width: 90%;
  }
  .eventall .gallery-box {
    width: 85%;
  }
}
@media (min-width: 768px) {
  .button-more {
    padding: 13px 50px 13px;
  }
}
@media (max-width: 600px) {
  .nav-menu {
    height: 70vh;
  }
  .sp-banner {
    display: block;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: 80%;
  }
  #top .main-img, .table-eiken {
    display: none;
  }
  .sp-top-slide {
    display: block;
    width: 100%;
    max-width: 600px;
  }
  #about-course .inner .boxarea .box {
    width: 90%;
  }
  #school .inner .boxarea {
    display: block;
  }
  .sp-catchcopy {
    display: block;
    position: relative;
    color: #292929;
    font-size: 24px;
    line-height: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #top .sp-catchcopy .welcome {
    font-size: 40px;
    color: rgba(170, 126, 25, 0.19);
    position: absolute;
    top: -22px;
    right: 10px;
    width: 80%;
    opacity: 0.7;
    z-index: -1;
  }
  #fee .inner .table-fee, .table-eiken {
    width: 95%;
    margin: 30px auto;
    font-size: 15px;
  }
  .inner .table-fee th, .table-eiken th {
    background-color: #F2E6D8;
    padding: 10px;
  }
  #fee .inner .eiken {
    text-align: left;
    width: 80%;
    margin: 20px auto;
  }
  #fee .inner .sp-table {
    display: none;
  }
  header h1 {
    display: block;
    max-width: 120px;
    margin: 0 auto 0 20px;
  }
  .mail-flex {
    display: block;
  }
  .mail-icon {
    width: 50px;
    margin: 0 auto;
    align-items: center;
  }
  .button-mail {
    font-size: 14px;
  }
  .mail {
    margin: 0 auto 20px;
  }
  body footer {
    flex-direction: column;
    align-items: center;
  }
  #school .inner .boxarea, .teacher_area, #achievement .boxarea,hr {
    width: 100%;
  }
  #school .boxarea .box figure {
    width: 35%;
  }
  #fee .inner .sp-table {
    display: block;
    background-color: rgba(255, 255, 255, 1.00);
    width: 70%;
    margin: 30px auto;
    border: none;
    border-collapse: separate;
    font-size: 15px;
  }
  #fee .inner .sp-table th {
    background-color: #F2E6D8;
    padding: 10px;
    width: 10%;
  }
  #fee .inner .sp-table {
    text-align: left;
    width: 80%;
    margin: 20px auto;
  }
  .tablet-banner, em#pcanime {
    display: none;
  }
  body header {
    height: 80px;
  }
  .menu-list {
    padding-top: 20px;
  }
  .teacher_area .text {
    margin-bottom: 10px;
  }
  .inner {
    width: 95%;
  }
  #top .sp-catchcopy .no1 {
    margin-bottom: 10px;
  }
  .eventall .text {
    font-size: 15px;
    margin-left: 0px;
    width: 90%;
  }
  .eventall .box {
    flex-direction: column;
    align-items: center;
  }
  .eventall .box figure {
    width: 60%;
    margin-bottom: 40px;
  }
  .eventall h2 {
    margin-bottom: 20px;
  }
  .eventall .box {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .eventall #event-sec2 a {
    margin-right: 0px;
    margin-left: 15px;
  }
  #experience .inner .map, #course .box .text {
    width: 90%;
  }
	.experience-textbox,.center-class,
    #course .box figure {
    width: 80%;
}
	#recruit .textbox {
    text-align: left;
}

}
