@charset "utf-8";
*, ::before, ::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:55.5%;
    scroll-behavior: smooth;
    scroll-padding-top:66px;
}
img{
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}
body{
    background-color: #888888;
    color:#fff;
    font-family: "Noto Serif JP", serif;
    font-size:1.8rem;
    line-height:1.7;
    overflow: visible;
}
.container{
    max-width: 640px;
    margin:0 auto;
    padding-top:66px;
}
header{
    width: 100%;
    max-width: 640px;
    position: fixed;
    top:0;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background-color: #888;
    opacity: 0.78;
    border-bottom: 1px solid #888;
    z-index:1;
}
h1,h2{
    font-family: "Pristina", cursive;
    text-shadow: 1px 1px 12px #fff;
    color: #000;
}
nav{
    width: calc((100% - 640px) / 2);
    height: calc(100% - 66px);
    position: fixed;
    top: 66px;
    right: 0;
    padding-left: 10px;
}
nav .logo {
    padding-left: 20px;
    margin-bottom: 20px;
}
nav ul{
    font-size: 32px;
    font-family: "Microsoft Himalaya";
    display: inline-block;
    list-style-type: none;
    height: 100%;
    overflow: auto;
}
nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    line-height: 1.1;
}
nav li:hover{
    background-color: #888888;
    opacity: 0.78;
}
.bg{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:-1;
}
.bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}
.mainimage{
    margin-bottom: 5rem;
}
main{
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0;
    position: relative;
    z-index: 0;
    background-color: rgba(136,136,136,0.54);
    background-size: 100%;
}
h2 {
    
    font-size: 4.8rem;
    text-align: center;
    margin-bottom: 3rem;
    line-height: 1
}
section {
    margin-bottom: 50px;
    margin-top: 40px;
}
.about .text {
    text-align: center;
}
.news {
    width: 100%;
}
.news .text{
    overflow: auto;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    height: 100px;
    padding-left: 50px;
    padding-right: auto;
}
.plan .text   {
    width: 300px;
    height: 250px;
    padding-top: 30px;
    margin-left: 10px;
}
.plan .inner  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plan .inner2  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.plan dt {
    font-size: 2.5rem;
    font-style: oblique;
}

.plan span {
    font-size: 2.3rem;
    text-decoration: underline;
}
.photo  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.photo figure {
    margin: 10px 10px;
}

.clothes .text {
    font-size: 2.5rem;
}
.photographerimg   {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 0px;
}
.photographerimg p {
    margin-bottom: 10px;
}
.ranking .text  {
    max-width: 640px;
    text-align: right;
    margin-right: 40px;
    list-style-type: none;
    display: block;
    color: #fff;
    padding-bottom: 0px;
}

.text a:link {
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}
h1 a:link {
    color: #000;
    text-decoration: none;
    list-style-type: none;
    text-shadow: 5px 5px 10px rgba(255,255,255,1.00);
}
h1 a:visited {
    color: #000;
    text-decoration: none;
    list-style-type: none;
    text-shadow: 5px 5px 10px rgba(255,255,255,1.00);
}


.ranking .text:hover {
    color: #fff;
    text-decoration: underline;
}
.ranking p  {
    height: auto;
    max-width: 640px;
    text-align: center;
}
.infometion {
    margin-top: 80px;
    margin-bottom: 50px;
}
.pagetop {
    position: fixed;
    bottom: 10px;
    right: 0px;
    width: 100%;
    text-align: right;
}
footer {
    text-align: center;
    margin-bottom: 20px;
}
.map iframe {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 5/4;
}


@media (max-width:1000px){
.nav-button {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(255,251,251,0.70);
    margin-left: auto;
    position: relative;
}
.nav-button span:nth-child(1) {
    top: 9px;
}
.nav-button span:nth-child(2) {
    top: 17px;
}
.nav-button span:nth-child(3) {
    top: 25px;
}
.nav-button span {
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 8px;
}
nav {
    width: 100%;
    z-index: 1;
}
nav ul .logo {
    background-color: rgba(136,136,136,0.66);
    display: block;
    margin: 0 auto;
    padding: 5rem 0;
    max-width: 640px;
    font-size: 24px;
    text-align: center;
}
nav {
    opacity: 0;
    visibility: hidden;
}
.open nav {
    opacity: 1;
    visibility: visible;
    background-color: rgba(134,134,134,0.85);
    text-align: center;
}
.open .nav-button span:nth-child(1) {
    top: 17px;
    transform: rotate(315deg);
}
.open .nav-button span:nth-child(2) {
    left: 50%;
    width: 0;
}
.open .nav-button span:nth-child(3) {
    top: 17px;
    transform: rotate(-315deg);
}





}

@media (max-width:640px){
html {
    font-size: 1.56vw;
}
.plan .inner .inner2 {
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.img1 .img2{
    position: static;
    width: 100%;
    height: auto;
}

}
