@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
*,:before,::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
body{
    background-color: rgba(205,205,205,1.00)
}

html {
    font-size: 62.5%;
    color: #757575;
    scroll-behavior: smooth;
    scroll-padding-top: 66px;
   font-family: "LXGW WenKai Mono TC", monospace;
   font-weight: 300;
   font-style: normal;
}
.main2{
    position: relative;
}
h1{
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-size: 13vw;
    font-style: normal;
    color: rgba(255,255,255,0.54);
    position: absolute;
    right: 5px;
    bottom: 10px;
    text-shadow: 5px 5px 10px #757575;
}

h2{
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
    padding:30px 0;
}
.underline{
    font-family: "BIZ UDPMincho", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	text-align: center;
	padding: 30px 0;
}

.info h2{
    border-bottom: 1px solid #757575;
    height: 50px;
}

.toggle_btn{
    display: none;
}
#mask {
  display: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CDCDCD;
    position: fixed;
    z-index: 1;
    width: 100%
}
.logo{
    width: 80%;
}

ul{
    list-style-type: none;
    display: flex;
    font-size:2vw;
}
li{
    margin-right: 30px;
}
li a {
    color: #757575;
    text-decoration: none;
}
.maintitle{
    text-align: center;
}
.info{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #757575;
    width: 70%;
}
.info p {
    margin-left: 60px;
    font-size: 1.5rem;
    line-height: 30px;
    padding-bottom: 10px;
}
.mainflower_text{
    font-size: 1.5rem;
    text-align: center;
    padding-right: 20px;
}
.mainflower{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainflower img{
    padding: 30px;
    width: 50%;
    height: auto;
}
.mainflower span{
    font-size:2vw;
}
.box p{
    font-size:1.5rem;
    padding-top: 10px;
}
.box-area{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}
.box{
    margin: 20px 10px;
}
.new{
    margin-left: auto;
    margin-right: auto;
}
.footer_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    font-size:1vw;
}
.copylight{
    text-align: center;
    margin: 30px auto;
}
.footertext a{
    text-decoration: none;
    color: #757575;
    }
/*TOPへ戻るボタン*/
#page_top{
  width: 100px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #ef3f98;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* フェードイン(初期値) */
.inview {
  opacity: 0; /* 最初は非表示 */
  transform: translateY(40px); /* 下に30pxの位置から */
  transition: opacity .8s, transform .5s; /* 透過率と縦方向の移動を0.8秒 */
}
/* フェードイン(スクロールした後) */
.inview.is-inview {
  opacity: 1; /* 表示領域に入ったら表示 */
  transform: translateY(0); /* 30px上に移動する */
  transition-delay: .5s; /* フェード開始を0.5秒遅らせる */
}

.subh2{
     border-bottom: 1px solid #757575;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about_text{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 2vw;
}
.subimage{
    padding-top: 70px;
    text-align: center;
}
.shoplist{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.shop_text{
    font-size: 1.5vw;
    margin-left: 20px;
    width: 400px;
    }
.shop span{
    font-size: 1.8vw;
}
.shop{
    max-width: 1000px;
    margin: 0 auto;
}
h3 span{
    position: relative;
    background: linear-gradient(transparent 40%, yellow 40%);
   
}
h3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.shopimage {
    width: 400px;
    min-width: 200px;
    height: auto;
}
iframe {
    aspect-ratio: 16 / 9;
    max-width: 500px;
    width: 100%;
    height: auto;
}
.access{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}
.access_text{
    font-size: 1.2vw;
    margin: 30px auto;
    text-align: left;
}
.access span {
    font-size: 1.8vw;
}
.access .box-area {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}
.futako{
    margin: 30px auto;
    box-shadow: -5px -5px 15px 5px rgba(2, 2, 2, 0.82), 5px 5px 15px 7px rgba(255, 255, 255, 1);
}

.zoom:hover img {
    transform: scale(1.2);
}
/*figure {
    overflow:hidden;
}*/
.zoom img {
    transition: 1s;
}


@media (max-width:800px){
}

@media (max-width:600px){
    
.shop_text {
    font-size: 1.9vw;
    margin-left: 0;
}
    
.access_text{
    font-size: 3vw;
}
.access span {
    font-size: 4vw;
}    
 
.shop span {
    font-size: 3vw;
}    
    
.shoplist{
    display: grid;
    margin: 20px auto;
    width: 400px;
    text-align: center;
     justify-content: start;
}
    
.maintitle{
    margin-bottom: -40px;
}    
.info{
    display: block;
}
.info p {
    line-height: 20px;
    padding-top: 10px;
}
.mainflower{
    display: block;
}
.mainflower img{
    width: 100%;
    height: auto;
} 
.mainflower span{
    font-size:2rem;
}
.footer_box{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
footer{
    font-size:1.2rem;
    margin: 0 auto;
}
.footer_box img{
    padding-left:30px;
    padding-top: 10px;
    }

    

    /*============
nav
=============*/
.logo{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
}
    
nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: .5s;
  z-index: 3;
}
.open nav {
  left: 0;
}
nav .inner {
  padding: 25px;
}
nav .inner ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}
nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}
nav .inner ul li a:hover {
  background: #e4e4e4;
}

/*============
.toggle_btn
=============*/
.toggle_btn {
  display: block;
  position: fixed;
  top: 10px;
  left: 20px;
  width: 60px;
  height: 30px;
  transform: translate(0, 0);
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}
.open .toggle_btn {
  left: 330px;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #666;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 5px;
  width: 60px;
  animation: equalizer01 7000ms infinite;
}
.toggle_btn span:nth-child(2) {
  top: 15px;
  width: 30px;
  animation: equalizer02 5000ms infinite;
  animation-delay: 0.33s;
}
.toggle_btn span:nth-child(3) {
  top: 25px;
  width: 20px;
  animation: equalizer02 5000ms infinite;
}
.open .toggle_btn span {
  background-color: #fff;
  width: 30px;
}
.open .toggle_btn span:nth-child(1) {
  transform: translate(0, 10px) rotate(-45deg);
  animation: unset;
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
  animation: unset;
}
.open .toggle_btn span:nth-child(3) {
  transform: translate(0, -10px) rotate(45deg);
  animation: unset;
}

/*============
#mask
=============*/
#mask {
  display: none;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
  transition: all .5s;
}    
}
@media screen and (max-width: 767px) {
  nav {
    left: -240px;
    width: 240px;
  }
}
@media screen and (max-width: 767px) {
  .open .toggle_btn {
    left: 260px;
  }
}
/*============
@keyframes
=============*/
@keyframes equalizer01 {
  0% {
    width: 70%;
  }
  10% {
    width: 50%;
  }
  20% {
    width: 100%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 50%;
  }
  50% {
    width: 70%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}
@keyframes equalizer02 {
  0% {
    width: 30%;
  }
  10% {
    width: 20%;
  }
  20% {
    width: 40%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 20%;
  }
  50% {
    width: 30%;
  }
  60% {
    width: 20%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 40%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 30%;
  }
    }
